.navigationBar {
  background: rgb(35, 35, 35);
  height: auto;
  text-align: center;
  width: 100%;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navigationBar > ul > li {
  display: inline;
}

.navigationBar > ul > li > a {
  color: rgb(150, 150, 150);
  display: inline-block;
  height: 60px;
  line-height: 60px;
  margin: 0px;
  padding: 0px 15px;
  text-decoration: none;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  letter-spacing: 1px;
}

.navigationBar > ul > li > a:hover {
  color: rgb(240, 240, 240);
  text-shadow: 0rem 0rem 0.3rem rgba(255, 255, 255, 0.7);
}

.navigationBar > ul > li > a.navbar_active_page {
  color: rgb(250, 250, 250);
  text-shadow: 0rem 0rem 0.3rem rgba(255, 255, 255, 0.7);
}
