.blogs_main > div {
  border-left: 2.5pt solid rgb(7, 255, 247);
  border-radius: 8px;
  margin-bottom: 40px;
  padding-left: 18px;
  display: grid;
  align-items: center;
  width: 50vw;
  max-width: 900px;
  margin-top: 50pt;
  margin-left: 25vw;
  background-color: rgb(34, 34, 34);
  transition: transform 0.1s linear, box-shadow 0.1s linear;
  box-shadow: 2px 2px 0px rgb(150, 150, 150, 0.4);
}
.blogs_main > div:hover {
  transform: scale(0.99);
  box-shadow: none;
}

.blogs_main > div > a {
  text-decoration: none;
}

.blogs_main > div > a > h3 {
  color: rgb(230, 230, 230);
  letter-spacing: 1px;
}

.blogs_main > div > a > h5 {
  color: rgb(178, 178, 178);
  font-style: italic;
}

.blogs_main > div > a > h6 {
  color: rgba(163, 163, 163, 0.5);
  margin-left: 88%;
  margin-right: 5%;
  margin-bottom: 4%;
}

.no_blogs_show_text {
  margin-top: 18%;
  margin-left: 46%;
  color: rgba(170, 170, 170, 1);
  font-family: 'Roboto thin';
}

.no_blogs_found_main {
  margin-left: 0;
  width: 100%;
  text-align: center;
  margin-top: 15%;
  margin-bottom: 5%;
}

.no_blogs_found_text {
  font-size: 40pt;
  font-family: 'Marriwether';
  color: rgb(170, 170, 170);
  letter-spacing: 2px;
}
.no_blogs_found_btn {
  font-family: 'Roboto';
  letter-spacing: 1px;
  font-size: 16pt;
  width: 150px;
  height: 50px;
  transition: color 0.3s, background-color 0.3s;
  margin-bottom: 25px;
  margin-right: 25px;
  border-radius: 9px;
  color: rgb(44, 156, 152);
  background-color: rgb(45, 45, 45);
  border: none;
  outline: none;
}

.no_blogs_found_btn:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(48, 170, 166);
  cursor: pointer;
}
